<ion-header mode="ios">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button mode="md"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Sign Up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="ion-text-center">
    <span class="sign-des">
      Wammer Turns Sharing Fun Photos and Videos With Your Friends into a Game
    </span>
  </ion-row>

  <ion-row>
    <form class="full-width ion-padding signup-form">
      <ion-row class="ion-margin-top ion-padding-top">
        <input placeholder="First Name" type="text" class="full-width" />
      </ion-row>
      <ion-row class="ion-margin-top ion-padding-top">
        <input placeholder="Last Name" type="text" class="full-width" />
      </ion-row>
      <ion-row class="ion-margin-top ion-padding-top">
        <input placeholder="Email" type="email" class="full-width" />
      </ion-row>
      <ion-row class="ion-margin-top position-relative ion-padding-top">
        <input placeholder="Password" [type]="passwordType" class="full-width" />
        <ion-icon item-end [name]="passwordIcon" class="passwordIcon" (click)='hideShowPassword()'></ion-icon>
      </ion-row>
    </form>

    <ion-row class="ion-text-center">
      <span class="sign-des full-width">
        By continuing you agree to the Wammer
        <br>
        <a>Terms of Service</a> and
        <a>Privacy Policy</a>
      </span>
    </ion-row>
  </ion-row>
</ion-content>

<ion-footer mode="ios">
  <ion-row>
    <ion-col size="6">
      <ion-row class="ion-padding-start ion-padding-end">
        <ion-button color="primary" class="full-width" (click)="goBack()">
          Back
        </ion-button>
      </ion-row>
    </ion-col>
    <ion-col size="6">
      <ion-row class="ion-padding-start ion-padding-end">
        <ion-button fill="outline" class="full-width">
          Next
        </ion-button>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-footer>