.passwordIcon {
    font-size:17px !important;
    position: absolute !important;
    bottom: 5px;
    right: 0;
 }

 .position-relative{
     position: relative;
 }

 .sign-des {
     margin-top: 20px;
     font-size: 11px;
     a {
         text-decoration: underline;
     }
 }